@import "variables";

.github-Accordion {
  cursor: default;
  user-select: none;

  &-header {
    font-weight: 600;
    color: calc(var(--text-color) - subtle);
    padding: calc(var(--component-padding) / 2);
    border-bottom: 1px solid var(--base-border-color);
    display: flex;
    align-items: center;

    &::-webkit-details-marker {
      color: calc(var(--text-color) - subtle);
    }
  }

  &--rightTitle, &--leftTitle {
    flex: 1;
  }

  &-content {
    border-bottom: 1px solid var(--base-border-color);
    background-color: var(--base-background-color);

    // Add an "Empty" label for empty items
    &:empty::before {
      content: "Empty";
      display: block;
      font-style: italic;
      text-align: center;
      color: calc(var(--text-color) - subtle);
    }
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &[open] &-header {
    color: calc(var(--text-color) - highlight);
  }

  &-listItem {
    display: flex;
    align-items: center;
    padding: calc(var(--component-padding) / 4);
    border-bottom: 1px solid var(--base-border-color);

    &:last-child {
      border: none;
    }

    &:active {
      background-color: var(--background-color-highlight);
    }
  }

}
