@import "variables";

.github-CoAuthorForm {
  display: flex;
  flex-direction: column;
  margin-top: var(--component-padding);
  padding: calc(var(--component-padding) / 2);
  border-radius: var(--component-border-radius) var(--component-border-radius) 0 0;
  border: 1px solid var(--base-border-color);
  border-bottom: 0;
  background-color: var(--syntax-background-color);

  &-row {
    display: flex;
    align-items: center;
    margin: calc(var(--component-padding) / 2);

    &.has-buttons {
      margin: 0;
      flex-wrap: wrap;
      .btn {
        flex: 1;
        margin: calc(var(--component-padding) / 2);
      }
      .btn-primary {
        flex: 4;
      }
    }
  }

  &-label {
    min-width: 6ch; // fit 6 characters
  }


  // make it look connected with the editor below
  & + .github-CommitView-coAuthorEditor {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
