.github-EmojiReactions {
  &-add.btn.btn {
    color: var(--text-color-subtle);
    border-color: transparent;
    background: none;

    &:first-child {
      border-color: transparent;
    }

    &:focus.btn {
      border-color: transparent;
      box-shadow: none;
      color: var(--text-color-info);
    }

    &:hover {
      color: ~"hsl(from var(--text-color-subtle) h s calc(l + 10))";
    }
  }
}
