// Styles for the Git Identity view.

.github-GitIdentity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--component-padding);

  &-title {
    margin-bottom: var(--component-padding);
  }

  &-explanation {
    margin-bottom: calc(var(--component-padding) * 3);
  }

  &-text {
    width: 90%;
    margin-bottom: calc(var(--component-padding) * 2);

    .github-AtomTextEditor-container {
      margin: var(--component-padding) 0;
      height: inherit;
    }
  }

  &-buttons {
    .btn {
      margin: calc(var(--component-padding) / 2);
    }
  }
}
