@import 'variables';

@donut-size: 26px;
@donut-stroke: 4px;

.github-PrStatuses {

  &-header {
    display: flex;
    align-items: center;
    border: 1px solid var(--base-border-color);
    padding: var(--component-padding);
    border-radius: var(--component-border-radius) var(--component-border-radius) 0 0;
  }

  &-donut-chart {
    margin-right: var(--component-padding);

    svg {
      display: block;
      width: @donut-size;
      height: @donut-size;

      circle {
        cx: @donut-size/2;
        cy: @donut-size/2;
        r: @donut-size/2 - @donut-stroke/2;
        stroke-width: @donut-stroke;
      }
    }
  }

  &-summary {
    font-weight: bold;
    flex: 1;
  }

  &-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  &-list-item {
    display: flex;
    flex-direction: row;
    padding: calc(var(--component-padding) / 2) var(--component-padding);
    border: 1px solid var(--base-border-color);
    border-top: none;

    &--checkRun {
      padding-left: calc(var(--component-padding) * 2);
    }

    &:last-child {
      border-radius: 0 0 var(--component-border-radius) var(--component-border-radius);
    }

    &-icon {
      width: @donut-size;
      margin-right: var(--component-padding);
      text-align: center;
      .icon::before { margin-right: 0; }
    }

    &-name {
      font-weight: bold;
      color: var(--text-color-info);
      margin-right: 0.5em;
    }

    &-context {
      flex: 1;
      color: var(--text-color-subtle);
      strong {
        margin-right: .5em;
        color: var(--text-color-highlight);
      }
    }

    &-title {
      margin-right: 0.5em;
    }

    &-summary {
      display: inline-flex;
      font-size: 90%;
    }

    &-details-link {
      margin-left: .5em;
      color: var(--text-color-info);
      a {
        color: var(--text-color-info);
      }
    }
  }


  // States --------------------

  &--pending {
    color: @gh-background-color-yellow;
  }

  &--success {
    color: @gh-background-color-green;
  }

  &--failure {
    color: @gh-background-color-red;
  }

  &--neutral {
    color: var(--text-color-subtle);
  }
}
