.github-ReactionPicker {
  display: flex;
  flex-direction: column;

  &-row {
    flex-direction: row;
    margin: calc(var(--component-padding) / 4) 0;
  }

  &-reaction {
    margin: 0 calc(var(--component-padding) / 4);
  }
}
