@import 'variables';

.github-ReviewsFooterView {

  margin-right: auto;

  // Footer ------------------------

  &-footer {
    display: flex;
    align-items: center;
    padding: var(--component-padding);
    border-top: 1px solid var(--base-border-color);
    background-color: var(--app-background-color);
  }

  &-footerTitle {
    font-size: 1.4em;
    margin: 0 calc(var(--component-padding) * 2) 0 0;
  }

  &-openReviewsButton,
  &-reviewChangesButton {
    margin-left: var(--component-padding);
  }

  &-commentCount {
    margin-right: var(--component-padding);
    color: calc(var(--text-color) - subtle);
  }

  &-commentsResolved {
    color: calc(var(--text-color) - highlight);
  }

  &-progessBar {
    margin-right: var(--component-padding);
  }
}
