@import "ui-variables";

//
// Git Status
// --------------------------------------------------

.status {
  &-ignored  { color: var(--text-color-subtle); }
  &-added    { color: var(--text-color-success); }
  &-modified { color: var(--text-color-warning); }
  &-removed  { color: var(--text-color-error); }
  &-renamed  { color: var(--text-color-info); }
}
